

* {
	padding : 0;
	margin : 0;

}
.cf:after {clear: both; display: block; content: "";}

body {
	font-family: 'Noto Sans KR';
	font-weight: 200;
	
}

ul li {
	float: left;
	text-decoration: none;
	list-style: none;
}

a {
	text-decoration-line: none;
}

button {
	background: transparent;
	border: transparent;
}

.nav_div {
	height: 50px;
	padding-top: 20px;
}

.li_width {
	width : 160px;
}

.li_width:nth-child(2) {
	margin-left: 30px;
}

.nav_text {
	font-weight: 500;
	font-size: 20px;
	color: #808080;
	clear: both;
	margin-top : 20px;
	margin-bottom: 20px;
}

.nav_text0 {
	font-weight: 500;
	font-size: 20px;
	color: #808080;
	padding-right: 60px;
	padding-left: 10px;
	clear: both;
	margin-top : 20px;
	margin-bottom: 20px;
	overflow: hidden;
}

.nav_text:hover {
	color: #15a7dd;
}

.nav_text2 {
	color: #15a7dd;
	/*font-weight: 800;*/
}
.icon00 {
	vertical-align: bottom;
	margin-right: 20px;
}

.navi_sub {
	position: absolute;
	margin-top:20px;
	z-index: 9999;
	width:1200px;
	height: 255px;
	background-color: white;
	border-right: 1px solid #15a7dd;
	border-left: 1px solid #15a7dd;
	border-bottom:  1px solid #15a7dd;
	border-top: 1px solid #15a7dd;
	display: none;
}	

.width_all {
	margin: 0 auto;
	width : 1200px;
}

.navi_sub ul {
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 0;
	padding-left: 0;
}

.icon00 div ul li{
	width : 100px;
}

.nv_content {
	color: #808080;
	font-size: 16px;
	clear: both;
	font-weight: 300;
}

.nv_content:hover {
	color:#15a7dd;
	font-weight: 500;
}

.navi_sub ul li {
	float: none;
}

.line1 {
	border-right: 1px solid #e5e5e5;
	text-align: center;
	width : 170px;
}

.navi_tab {
	float: left;
	width : 170px;
}

.img01 {
	margin-left: 16px;
	margin-top: 3px;
	clear: both;
	/*border: 1px solid red;*/
}